<!-- Semantically, a block can be represented by section elements -->
<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">White Block</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis atque
      dignissimos qui, molestias in id sapiente tempore laborum est!
      Praesentium!
    </p>
  </header>
  <!-- inline styling should be avoided used here only temporarily. -->
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, eius?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Dark Block</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis atque
      dignissimos qui, molestias in id sapiente tempore laborum est!
      Praesentium!
    </p>
  </div>
</section>
<script type="text/javascript" src="js/main.js"></script>
