<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg
      style="background: black; border-radius: 100%"
      class="icon icon--white collapsible__chevron"
    >
      <use href="images/sprite.svg#wordpress"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat sit placeat
    ullam dolores quos unde, nobis rem debitis nostrum commodi.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 2</h2>
    <svg
      style="background: black; border-radius: 100%"
      class="icon icon--white collapsible__chevron"
    >
      <use href="images/sprite.svg#wordpress"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat sit placeat
    ullam dolores quos unde, nobis rem debitis nostrum commodi.
  </div>
</div>
<script type="text/javascript" src="js/main.js"></script>
