<footer class="block block--dark footer">
    <div class="container grid footer__sections">
      <section class="collapsible collapsible--expanded footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
          <svg
            style="background: black; border-radius: 100%"
            class="icon icon--white collapsible__chevron"
          >
            <use href="images/sprite.svg#wordpress"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <lu class="list">
            <li><a href="#">WordPress Hosting</a></li>
            <li><a href="#">Free Automated WordPress</a></li>
            <li><a href="#">Migrations</a></li>
            <li><a href="#">Domain Names</a></li>
            <li><a href="#">Monthly Web Hosting</a></li>
          </lu>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">COMPANY</h2>
          <svg
            style="background: black; border-radius: 100%"
            class="icon icon--white collapsible__chevron"
          >
            <use href="images/sprite.svg#wordpress"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <lu class="list">
            <li><a href="#">WordPress Hosting</a></li>
            <li><a href="#">Free Automated WordPress</a></li>
            <li><a href="#">Migrations</a></li>
            <li><a href="#">Domain Names</a></li>
            <li><a href="#">Monthly Web Hosting</a></li>
          </lu>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
          <svg
            style="background: black; border-radius: 100%"
            class="icon icon--white collapsible__chevron"
          >
            <use href="images/sprite.svg#wordpress"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <lu class="list">
            <li><a href="#">WordPress Hosting</a></li>
            <li><a href="#">Free Automated WordPress</a></li>
            <li><a href="#">Migrations</a></li>
            <li><a href="#">Domain Names</a></li>
            <li><a href="#">Monthly Web Hosting</a></li>
          </lu>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">DOMAIN</h2>
          <svg
            style="background: black; border-radius: 100%"
            class="icon icon--white collapsible__chevron"
          >
            <use href="images/sprite.svg#wordpress"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <lu class="list">
            <li><a href="#">WordPress Hosting</a></li>
            <li><a href="#">Free Automated WordPress</a></li>
            <li><a href="#">Migrations</a></li>
            <li><a href="#">Domain Names</a></li>
            <li><a href="#">Monthly Web Hosting</a></li>
          </lu>
        </div>
      </section>
      <section class="footer__brand">
        <img src="images/logo.svg" alt="" />
        <p class="footer__copyright">Copyright &copy; 2020 mosh</p>
      </div>
      <script type="text/javascript" src="js/main.js"></script>
    </div>
  </footer>