<!-- q is an inline element and blockquote is a block level element. -->
<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur labore
    harum adipisci tempore corporis inventore doloribus perferendis dicta
    voluptatum earum!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Mark Brown</h3>
        <p class="quote__organization">London Bowstrings Enterprise</p>
      </div>
    </div>
  </footer>
</blockquote>
